#Data Folders#
##############
PennFudanPed/
__pycache__/
**/.vscode/
200nm_9May14_cropped/
03062014Polystyrol/
200nm_11Apr13_1/
particles_manual/
PP_BG_eliminated/
BachelorPamono.code-workspace
xml2csv.py.py
testEnv.py
preprocessingScript.py
gtBoxEval.py
gtShift.py
mygraph0.png
mygraph1.png
mygraph2.png
mygraph3.png
mygraph4.png
Neuer Ordner
Reserve/